torch
streamlit
python-dotenv
langchain-core
langchain-community
spacy
spacy-layout
langchain-text-splitters
pydantic
sentence-transformers
neo4j
langchain-together
langgraph
pydot
mcp
langchain-mcp-adapters

#Necessario Ollama e llama3.2:1b